/*============================
     ANIMATED STYLES
=============================*/ 

/* --> GLOBAL STYLES <-- */
:root{
     --white: #fff;
     --black: #000;
     --colourmn1: #F5f5f5;
     --colourmn2: #222222;
     --colour1: #e0584f;
     --colour2: #ffc62f;
     --colour3: #e08a4f;
     --colour4: #008080;
     --colour5: #14aba2;
     --colour6: #DF9500;
     --colour7: #2effdc;
     --colour8: #2efff5;
}

body{
     color: var(--colourmn2);
}

.bg {
     animation:slide 3s ease-in-out infinite alternate;
     background-image: linear-gradient(-60deg, var(--colour6) 50%, var(--colour4) 50%);
     bottom:0;
     left:-50%;
     opacity:.5;
     position:fixed;
     right:-50%;
     top:0;
     z-index:-1;
}

.bg2 {
     animation-direction:alternate-reverse;
     animation-duration:4s;
}

.bg3 {
animation-duration:5s;
}

@keyframes slide {
     0% {
          transform:translateX(-25%);
     }
     100% {
          transform:translateX(25%);
     }
}

::-webkit-scrollbar-thumb {
     background: var(--colour6);
}

::-webkit-scrollbar-thumb:hover {
     background: var(--colour5);
}

.full-nav-wrapper{
     background: linear-gradient(-135deg, var(--colour6), var(--colour5));
}

.menu-btn{
     color: var(--white);
}

#active:checked ~ .menu-btn{
     background: #fff;
     color: var(--colour6);
}

.full-nav-wrapper ul li a{
     color: #fff;
}

.full-nav-wrapper ul li a:hover{
     color: var(--colour6);
     background-color: var(--white);
}

/* --> INTER-PAGE STYLES <-- */

.dashboard-wrapper, .board-wrapper, .notes-wrapper, .prj-wrapper{
     background-color: rgba(255, 255, 255, 0.7);
     color: var(--colourmn2);
}

/* --> SIGN-UP AND SIGN-IN PAGE <-- */
.sign-wrapper{
     background-color: var(--white);
}

header.sign{
     background: linear-gradient(
          45deg,
          var(--colour6),
          var(--colour5),
          var(--colour7)
     ); 
}

p.logo-sign {
     color: var(--white);
}

.sign-input{
     border: 1px solid #e6e6e6;
}

     input.sign-input:active, .sign-input:focus{
          border-color: #cccccc;
     }

div.pass i{
     color: #e6e6e6;
}

     div.pass i.active::before{
          color: #333;
     }

.sign-submit{
     background: var(--colour5);
     color: var(--white);
}

     .sign-submit:hover{
          background: linear-gradient(
               45deg,
               var(--colour1),
               var(--colour3),
               var(--colour2)
          );
          background-size: 300%;
          animation: bg-anime 2.5s infinite;
     }

small.sign-link a{
     color: var(--colour6);
}

     small.sign-link a:hover{
          color: var(--colour5);
     }

/* --> THE DASHBOARD <-- */
.dashboard-wrapper{
     display: grid;
     gap: 1em;
     grid-template-columns: 25% 75%;
     grid-template-rows: 35% 65%;
}

.quick-todos, header.dashboard, main.dashboard{
     background-color: var(--white);
}

header.dashboard{
     color: var(--colourmn1);
     background-image: linear-gradient(
          270deg, 
          var(--colour6),
          var(--colour5),
          var(--colourmn1)
     );
}

button.sign-out{
     background-color: var(--colourmn1);
     color: var(--colour6);
     border: solid 1px var(--colour6);
}

     button.sign-out:hover{
          color: var(--colourmn1);
          border: solid 1px var(--colourmn1);
     }

form.todo-input *{
     border: 1px solid var(--colour6);
}

form.todo-input input[type="submit"]{
     color: var(--white);
     background-color: var(--colour6);
}

li.todo-item{
     border-bottom: 1px solid var(--colour5);
}

     li.todo-item:hover{
          background-color: var(--colour6);
          color: var(--white);
     }

     li.todo-item:active{
          background-color: var(--colour8);
          color: var(--white);
     }

     li.todo-item.completed{
          background-color: var(--colour6);
          color: var(--colourmn1);
     }

div.more-dash{
     background: var(--colour6);
     color: var(--colourmn1);
}

     div.more-dash:hover{
          background: linear-gradient(
               45deg, 
               var(--colour6),
               var(--colour5)
          );
     }

     div.more-dash:active{
          background: linear-gradient(
               45deg, 
               var(--colour1),
               var(--colour4)
          );
     }

div.project{
     background-color: var(--colourmn1);
     border: solid 1px var(--colour6);
}

     div.project:hover{
               transform: translateY(-0.7em) translateX(0.3em);
               box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
          }
     
     div.project:active{
          border-color: var(--colour4);
     }

span.prj-status{
     color: var(--white);
     background-color: var(--colour6);
}

/* --> THE BOARD <-- */

div.project-m{
     background-color: var(--colourmn1);
     border: solid 1px var(--colour6);
}

     div.project-m:hover{
          transform: translateY(-0.7em) translateX(0.3em);
          box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
     }

     div.project-m:active{
     border-color: var(--colour4);
     }

div.nav-filter input{
     border: 1px solid var(--colour6);
}

div.nav-buttons .to-dashboard, div.nav-buttons .add-note{
     color: var(--white);
     background-color: var(--colour6);
}

     div.nav-buttons .to-dashboard:hover, div.nav-buttons .add-note:hover{
          background: linear-gradient(
                    45deg, 
                    var(--colour6),
                    var(--colour5)
               );
     }

     div.nav-buttons .to-dashboard:active, div.nav-buttons .add-note:active{
          background: linear-gradient(
                    45deg, 
                    var(--colour1),
                    var(--colour4)
               );
     }

/* --> NOTES PAGE <-- */

.notes-wrapper{
     background-color: var(--white);
}

.notes-sidebar{
     background-color: var(--white);
     border-right: 2px solid #dddddd;
}

.notes-add, .notes-back{
     background: var(--colour6);
     color: var(--white);
}

.notes-add{
     border-radius: 0 7px 7px 0;
}

.notes-back{
     border-radius: 7px 0 0 7px;
     border-right: 1px solid var(--white);
}

     .notes-add:hover, .notes-back:hover{
          font-weight: bold;
          background: linear-gradient(
                    45deg, 
                    var(--colour6),
                    var(--colour5)
               );
     }

.notes-list-item {
     border-bottom: 1px solid var(--colour5);
}

.selected {
     background: var(--colour6);
     color: var(--white);
}

.selected .small-status{
     color: var(--colour6);
     background-color: var(--colourmn1);
}

.selected .notes-small-updated{
     color: var(--colourmn1);
}

.small-status{
     color: var(--white);
     background-color: var(--colour6);
}

div.foot-buttons button{
     background-color: var(--colour6);
     color: var(--white);
}

div.foot-buttons i{
     color: var(--colour6);
}

     div.prev-foot button.delete:hover{
          color: #721c24;
          background: #f8d7da;
     }

     div.prev-foot button.save:hover{
          color: #1c722a;
          background: #d7f8db;
     }

.status-radio{
     background: var(--white);
     color: var(--colour6);
     border: 1px solid var(--colour6);
}

.radio-label:not(:last-of-type){
     border-right: 1px solid var(--colour6);
}

.radio-input:checked + .radio-label{
     background: var(--colour6);
     color: var(--white);
}

/* --> PROJECT PAGE <-- */
.prj-wrapper{
     background-color: var(--white);
}

/* <--> Phone Version <--> */
@media (max-width: 500px){
     div.nav-buttons .to-dashboard{
          background-color: var(--colourmn1);
          color: var(--colourmn2);
     }
}